@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --color-primario: #000000;
    --color-secundario: #F6F6F6;
    --color-terciario: #22D4FD;
    --color-hover: #272727;
    --fuente-krona: 'Krona One', sans-serif;
    --fuente-montserrat: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    font-family: var(--fuente-montserrat);
}

.header {
    padding: 2% 0 0 15%;
}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__menu__link {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

.presentacion {
    padding: 5% 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentacion__contenido {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.presentacion__contenido__titulo {
    font-size: 36px;
    font-family: var(--fuente-krona);
}

.presentacion__contenido__texto {
    font-size: 24px;
    font-family: var(--fuente-montserrat);
}

.presentacion__videos {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.presentacion__video {
    flex: 1 1 45%;
    max-width: 45%;
    text-align: center;
    margin-bottom: 40px; /* Añadir espacio adicional entre los contenedores */
}

.presentacion__video__contenido {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.presentacion__video__contenido iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer {
    color: var(--color-primario);
    background-color: var(--color-terciario);
    padding: 24px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

/* Media Queries */

@media (max-width: 768px) {
    .header {
        padding: 2%;
    }

    .header__menu {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .header__menu__link {
        font-size: 18px;
    }

    .presentacion {
        padding: 5%;
    }

    .presentacion__contenido__titulo {
        font-size: 28px;
    }

    .presentacion__contenido__texto {
        font-size: 20px;
    }

    .presentacion__videos {
        flex-direction: column;
        gap: 20px;
    }

    .presentacion__video {
        max-width: 100%;
    }

    .footer {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 2%;
    }

    .header__menu {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .header__menu__link {
        font-size: 16px;
    }

    .presentacion {
        padding: 5%;
        flex-direction: column;
    }

    .presentacion__contenido__titulo {
        font-size: 24px;
    }

    .presentacion__contenido__texto {
        font-size: 18px;
    }

    .presentacion__videos {
        flex-direction: column;
        gap: 20px;
    }

    .presentacion__video {
        max-width: 100%;
    }

    .footer {
        font-size: 18px;
    }
}
